{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-3">
        <h3 class="text-center alert alert-success">Add Student</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Add">
        </form>
    </div>
    <div class="col-sm-8 offset-1">
        <h4 class="text-center alert alert-success">Student information</h4>
        {% if stu %}
        <table class="table">
  <thead>
    <tr>
      <th scope="col">id:</th>
      <th scope="col">first_name</th>
      <th scope="col">last_name</th>
      <th scope="col">course</th>
      <th scope="col">direction</th>
      <th scope="col">teacher</th>
    </tr>
  </thead>
  <tbody>
  {% for st in stu %}
    <tr>
      <th scope="row">{{ st.id }}</th>
      <td>{{ st.firstname }}</td>
      <td>{{ st.lastname }}</td>
      <td>{{ st.course }}</td>
      <td>{{ st.direction }}</td>
      <td>{{ st.teacher }}</td>
      <td><a href="{% url 'updatedata' st.id %}" class="btn btn-success btn-sm">Edit</a></td>
        <td><a href="{% url 'deletedata' st.id %}" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
  {% endfor %}

  </tbody>
</table>
        {% else %}
            <h4 class="text-center alert alert-danger">Student not included</h4>
        {% endif %}

    </div>
</div>
{% endblock content %}
