{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        <h3 class="text-center alert alert-success">Update</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Save">
            <a href="{% url 'addandshow' %}" type="submit" class="btn btn-info">Back</a>
        </form>
    </div>
</div>
{% endblock content %}